<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - StockManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StockManagement.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <i id="toggle-menu" class="fa fa-bars action-menu"></i>
        <h3>ASP Core - Gestion Stock</h3>
        <a asp-area="Security"  asp-controller="Auth" asp-action="Logout" class="text-white">
            <i class="action-menu fa fa-power-off"></i>
        </a>
    </header>
    <main>
        <partial name="Partials/_Nav" />
        <div class="content container-fluid">
            <partial name="Partials/_Alert" />
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - BSTORM</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        $('.select2').select2({ theme: 'bootstrap', width: '100%' });
        $('.select2-multiple').select2({ width: '100%' });
        $('#toggle-menu').on('click', () => {
            $('nav').toggleClass('open');
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
