@model CustomerFormViewModel
<form method="post">
    <div class="form-horizontal">

        @if(Model.Reference != null)
        {
            <div class="form-group mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="IsActive">
                    <label class="form-check-label" asp-for="IsActive"></label>
                </div>
                <span class="text-danger" asp-validation-for="IsActive"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" asp-for="Reference"></label>
                <div class="col-md-10">
                    <input class="form-control" asp-for="Reference" readonly />
                    <span class="text-danger" asp-validation-for="Reference"></span>
                </div>
            </div>
        }

        <div class="form-group mb-3">
            <label class="form-label" asp-for="LastName"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="LastName"/>
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" asp-for="FirstName"></label>
            <div class="col-md-10">
                <input class="form-control" asp-for="FirstName" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" asp-for="Email"></label>
            <div class="col-md-10">
                <input type="email" class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group mb-3">
            <label class="form-label" asp-for="Phone"></label>
            <div class="col-md-10">
                <input type="tel" class="form-control" asp-for="Phone" />
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauver" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>